<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Server" type="Application" factoryName="Application">
    <option name="ALTERNATIVE_JRE_PATH" value="15" />
    <option name="ALTERNATIVE_JRE_PATH_ENABLED" value="true" />
    <option name="MAIN_CLASS_NAME" value="server.Main" />
    <module name="Server" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>